/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}
#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}
.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}
.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #149ddd;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*  # Nav bar  and theme style start*/
.poems-block {
  padding-bottom: 60px;
  padding-top: 60px;
}
.poems-block .heading {
  margin-bottom: 50px;
  text-align: center;
}
.poems-block .heading h2 {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.poems-block .heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: 0.7;
}
.poems-block.block-intro {
  text-align: center;
}
.poems-block.block-intro .about-me {
  max-width: 800px;
  margin: 0 auto;
}
.poems-block.block-intro p {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 30px;
}
.poems-block.block-intro .avatar {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 30px;
}
.poems-block.website h3 {
  font-weight: 700;
}
.poems-block.website p {
  opacity: 0.9;
}
.poems-laptop-mockup {
  margin: auto;
  margin-top: 30px;
  max-width: 280px;
}
.poems-block.mobile-app .text,
.poems-block.website .text {
  text-align: center;
}
.poems-laptop-mockup .screen {
  border: 1px solid #9c9c9c;
  border-bottom: none;
  width: 250px;
  height: 160px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  left: 15px;
}
.poems-laptop-mockup .screen .screen-content {
  border: 1px solid #c5c5c5;
  background-position: 50%;
  background-size: cover;
  height: 100%;
}
.poems-laptop-mockup .keyboard {
  width: 280px;
  height: 10px;
  border: 1px solid #9c9c9c;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #fff;
}
.poems-block.photography {
  padding-top: 0;
  padding-bottom: 0;
}
.poems-block.photography .item {
  overflow: hidden;
  margin-bottom: 0;
  background: #000;
  opacity: 1;
}
.poems-block.photography .item a img {
  transition: 0.8s ease;
}
.poems-block.skills {
  border-bottom: 1px solid #ddd;
}
.special-skill-item {
  margin-bottom: 30px;
  text-align: center;
}
.special-skill-item .icon {
  text-align: center;
  font-size: 50px;
  background-color: #0ea0ff;
  color: #fff;
  height: 70px;
  width: 70px;
  line-height: 69px;
  display: inline-block;
  border-radius: 50%;
}
.special-skill-item h3 {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 10px;
}
.special-skill-item p {
  color: #8e8e8e;
}
.poems-block.call-to-action {
  padding-top: 60px;
  padding-bottom: 60px;
}
.poems-block.call-to-action .content {
  -ms-flex-direction: column;
  flex-direction: column;
}
.poems-block.mobile-app {
  padding-top: 80px;
  padding-bottom: 80px;
}
.poems-block.mobile-app h3 {
  font-weight: 700;
}
.poems-block.mobile-app p {
  opacity: 0.9;
}
.poems-phone-mockup {
  border: 1px solid #9c9c9c;
  width: 150px;
  height: 300px;
  padding: 15px 7px 0;
  border-radius: 15px;
  background-color: #fff;
  margin: auto;
  margin-bottom: 20px;
}
.poems-phone-mockup .phone-screen {
  height: 240px;
  border: 1px solid #9c9c9c;
  margin-bottom: 7px;
  background-size: cover;
}
.poems-phone-mockup .home-button {
  width: 28px;
  height: 28px;
  background: #fdfeff;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin: auto;
}
.poems-block.cv {
  padding-top: 70px;
}
.poems-block.cv h2 {
  font-weight: 700;
  margin-bottom: 70px;
}
.poems-block.cv h3 {
  font-size: 1.3rem;
}
.poems-block.cv .group {
  max-width: 800px;
  margin: auto;
}
.poems-block.cv .group:not(:first-child) {
  margin-top: 90px;
}
.poems-block.cv .group .period {
  font-size: 0.8rem;
  float: none;
  font-weight: 700;
  margin-top: 4px;
  color: #6c757d;
  opacity: 0.8;
}
.poems-block.cv .group .organization {
  font-size: 0.85em;
  background-color: #0ea0ff;
  display: inline-block;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2em;
}
.poems-block.cv .education.group .organization {
  background-color: #20c997;
}
.poems-block.cv .group .item {
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}
.poems-block.cv .group h2 + .item {
  padding-top: 25px;
  border-top: 1px solid #eee;
}
.poems-block.cv .group .item .row {
  margin-bottom: 5px;
}
.poems-block.cv .education h3,
.poems-block.cv .work-experience h3 {
  font-weight: 700;
}
.poems-info-card {
  padding: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.075);
  height: 100%;
}
.poems-info-card h2 {
  margin-top: 0;
  margin-bottom: 24px !important;
  font-size: 1.4rem;
}
.poems-info-card.skills h3 {
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 700;
}
.poems-info-card.skills .progress {
  height: 3px;
}
.poems-info-card.contact-info {
  font-weight: 300;
}
.poems-info-card.contact-info .icon {
  font-size: 1.3em;
  color: #6091ef;
  position: relative;
  bottom: 4px;
}
.poems-block.cv .hobbies p {
  max-width: 700px;
  margin: auto;
  font-size: 1.2em;
  font-weight: 300;
}
.poems-block.projects-with-sidebar .sidebar {
  padding-left: 20px;
  padding-bottom: 15px;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}
.poems-block.projects-with-sidebar .sidebar li:not(:last-child) {
  margin-right: 20px;
}
.poems-block.projects-with-sidebar .sidebar .active {
  font-weight: 700;
}
.poems-block.projects-with-sidebar a {
  color: #212529;
  font-weight: 300;
}
.poems-block.projects-with-sidebar a:hover {
  opacity: 0.8;
}
.project-sidebar-card img {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}
.project-sidebar-card {
  margin-bottom: 20px;
}
.poems-block.compact-grid .item {
  overflow: hidden;
  margin-bottom: 0;
  background: #000;
  opacity: 1;
}
.poems-block.compact-grid .item .image {
  transition: 0.8s ease;
}
.poems-block.compact-grid .item .info {
  position: relative;
  display: inline-block;
}
.poems-block.compact-grid .item .description {
  display: grid;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 1;
  color: #fff;
  transition: 0.8s ease;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.39));
}
.poems-block.compact-grid .item .description .description-heading {
  font-size: 1em;
  font-weight: 700;
}
.poems-block.compact-grid .item .description .description-body {
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
}
.poems-block.projects-cards h6 {
  font-size: 1.1rem;
  font-weight: 700;
}
.poems-block.projects-cards a img {
  transition: 0.5s ease;
}
.poems-block.projects-cards .card img {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.poems-block.projects-cards .card-body {
  text-align: center;
}
.poems-block.projects-cards .card-body p {
  font-size: 0.9em;
}
.poems-block.projects-cards a {
  color: #212529;
}
.poems-block.projects-cards a:hover {
  text-decoration: none;
}
.poems-block.projects-cards .card {
  margin-bottom: 30px;
}
.project-card-no-image {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.075);
  padding: 35px;
  border-top: 4px solid #0ea0ff;
  margin-bottom: 30px;
}
.project-card-no-image h3 {
  font-size: 1.3em;
  margin-bottom: 20px;
}
.project-card-no-image h4 {
  font-size: 1em;
  opacity: 0.6;
  margin-bottom: 20px;
}
.project-card-no-image .tags {
  text-transform: uppercase;
  float: right;
  font-size: 0.75em;
  margin-top: 7px;
}
.project-card-no-image .tags a {
  color: #979797;
}
.poems-block form {
  max-width: 650px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.poems-block.hire-me form .button button {
  margin-top: 30px;
}
.poems-block.project .image {
  height: 180px;
  margin-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.poems-block.project h3 {
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 20px;
}
.poems-block.project .info p {
  font-size: 1.1em;
  font-weight: 300;
}
.poems-block.project .meta {
  padding-left: 15px;
}
.poems-block.project .meta .tags .meta-heading {
  color: #22245b;
  margin-bottom: 5px;
  font-weight: 700;
}
.poems-block.project .meta .tags {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #979797;
}
.poems-block.project .tags a {
  color: #979797;
}
.poems-block.project .more-projects {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  padding-top: 60px;
}
.poems-block.project .more-projects h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 60px;
}
.poems-block.project .gallery {
  margin-top: 30px;
}
.poems-block.project .gallery .item {
  margin-bottom: 20px;
}
.poems-block.project .gallery .item img {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}
.poems-block.partners {
  padding: 50px 0;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
}
.poems-block.partners a img {
  max-width: 170px;
  -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8);
}
.poems-block.partners a:not(:last-child) img {
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .poems-block.project .image {
    height: 240px;
  }
  .scale-on-hover:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
  .zoom-on-hover:hover .image {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.7;
  }
  .poems-block.compact-grid .item .description {
    opacity: 0;
  }
  .poems-block.compact-grid .item a:hover .description {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .poems-block .heading {
    margin-bottom: 80px;
  }
  .poems-block {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .poems-block .heading h2 {
    font-size: 2rem;
  }
  .poems-block.cv .details {
    margin-top: 0;
  }
  .poems-block.cv .item {
    font-weight: 300;
  }
  .poems-block form {
    padding: 50px;
  }
  .poems-laptop-mockup {
    max-width: 350px;
  }
  .poems-laptop-mockup .screen {
    width: 320px;
    height: 210px;
  }
  .poems-laptop-mockup .keyboard {
    width: 350px;
  }
  .poems-block.cv .group .period {
    float: right;
  }
  .poems-block.project .meta {
    padding-left: 45px;
  }
  .poems-block.project .image {
    height: 340px;
  }
  .poems-block.call-to-action .content {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .poems-block.call-to-action h3 {
    margin-right: 40px;
  }
  .poems-block.projects-with-sidebar .sidebar {
    display: block;
  }
  .poems-block.partners {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .poems-block.partners a:not(:last-child) img {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .poems-laptop-mockup {
    margin-top: 0;
  }
  .poems-block.mobile-app .text,
  .poems-block.website .text {
    text-align: right;
  }
  .poems-block.project .image {
    height: 450px;
  }
}
.poems-navbar.navbar {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.poems-navbar .navbar-nav .nav-link {
  font-weight: 700;
}
.poems-navbar .navbar-nav .nav-item {
  padding-right: 2rem;
}
.poems-navbar .navbar-nav:last-child .item:last-child,
.poems-navbar .navbar-nav:last-child .item:last-child a {
  padding-right: 0;
}
.poems-navbar .logo {
  font-size: 1.5rem;
}
.poems-navbar.fixed-top + .page {
  padding-top: 62px;
}
@media (min-width: 576px) {
  .navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .poems-navbar.fixed-top + .page {
    padding-top: 5.5rem;
  }
}
.page-footer {
  padding-top: 35px;
  border-top: 1px solid #ddd;
  text-align: center;
  padding-bottom: 20px;
}

/*  # Nav bar  and theme style End*/
.video-holder {
  position: relative;
  display: block;
  max-width: 100%;
}

.yt-play-image {
  left: 30%;
  top: 25%;
  position: absolute;
  width: 30%;
  margin-top: 25%;
  margin-left: 20%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  transition: ease-in 0.1s;
  filter: invert(0.5);
  /* opacity: 0.7; */
}

.video-holder:hover img.yt-play-image {
  /* opacity: 1; */
  filter: invert(0);
}

/* Poem Title */

.poemTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: medium;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
    # Footer
    --------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}
#footer .copyright {
  text-align: center;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}

/* Trial section */

.item {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border: 2px solid #16151550; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.item:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.img-fluid {
  width: 100%; /* Make image fill the container width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover container */
}

.modal-content img {
  max-width: 100%;
  height: auto;
}


/* Gallery */

/* Custom border style for the image container */
.border-custom {
  border: 2px solid #007bff; /* Custom border color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  overflow: hidden; /* Ensure no overflow */
  padding: 0; /* Remove padding to make border fit image */
  margin: auto; /* Center the container */
}

/* Ensure images fill the container */
.item img {
  width: 80%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the container without distortion */
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .border-custom {
    border-width: 1px; /* Adjust border width for smaller screens if needed */
  }
}

